rogue
rogue_monsters
rogue_without_monsters
rogue.*
rogue_src/config.log
rogue_src/config.status
rogue_src/Makefile
rogue_src/*.o
rogue_src/.deps/
rogue_src/aclocal.m4
rogue_src/autom4te.cache/
rogue_src/stamp-h1
